* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-color: black;
  }

  .index-body {
    background-color: black;
  }
  
  nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1.5rem 2rem; /* 3 */
    background: black; /* 4 */
    color: white;
    box-shadow: 0px 3px 5px -3px #ccc;
  }
  
  nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    margin-top: 5px;
  }
  
  nav li {
    padding-left: 1rem; /* 7! */
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
  }

main h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

.latest-posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.post {
    text-align: center;
    border: 3px solid black;
    background-color: #ebebeb;
    height: 400px;
    width: 46.5%;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 20px;
    margin-top: 0px;
}

.post h2 {
    padding: 10px;
}

.img-div {
    position: relative;
    max-width: 100%;
    height: 40%;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    max-height: 130px;
    text-align: left;
}

.post p:after{
    content:'...';
}

.details-btn {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.show-more {
    position: relative;
    left: 46%;
    right: 46%;
    padding: 10px;
    text-transform: uppercase;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(167, 120, 18);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 5%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }

  footer {
    left: 0;
    bottom: 0;
    margin-top: 6%;
    width: 100%;
    height: 200px;
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

footer h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}