

img {
    position: relative;
    width: 250px;
    height: 70%;
}

.latest-posts {
    display: flex;
    flex-wrap: wrap; 
}

.post {
    flex-basis: 31.3%;
    margin: 10px;
    text-align: center;
    border: 3px solid black;
    background-color: #ebebeb;
    height: 400px;
}