* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-color: black;
  }

  h1 {
    text-align: center;
    padding: 20px;
    color: white;
  }

  .index-body {
    background-color: black;
  }
  
  nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1.5rem 2rem; /* 3 */
    background: black; /* 4 */
    color: white;
    box-shadow: 0px 3px 5px -3px #ccc;
  }
  
  nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    margin-top: 5px;
  }
  
  nav li {
    padding-left: 1rem; /* 7! */
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
  }

.bg-img-div {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: black;
    
}

.bg-img {
    height: 200px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
    margin-top: -50px;
}

.bg-img-div h2 {
    color: white;
    position: relative;
    text-align: center;
    font-size: 3rem;
    top: 40%;
}

main h1 {
    text-align: center;
    padding: 20px;
    color: white;
}


  /* SLIDER CAROUSEL */

.slider-container{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 450px;
    width: 100%;
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.latest-posts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
}

.post {
    text-align: center;
    border: 3px solid black;
    background-color: #ebebeb;
    height: 450px;
    min-width: 31.8%;
    align-items: center;
    margin: 0 10px;
}

.post h2 {
    padding: 10px;
}

.img-div {
    position: relative;
    max-width: 100%;
    height: 40%;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    max-height: 130px;
    text-align: left;
}

.details-btn {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.prev, .next {
   background: rgb(10, 10, 10);
   border: none;
   outline: none;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 20px;
   padding: 6px 12px;
   cursor: pointer;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
}

.prev {
    margin-left: -110px;
}

.next {
    margin-left: 110px;
}

footer {
    left: 0;
    bottom: 0;
    margin-top: 6%;
    width: 100%;
    height: 200px;
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

footer h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.contentmod {
    text-align: center;
    margin: auto;
    background-color: white;
    width: 50%;
}

.contentmod h2 {
    font-size: 2rem;
    padding: 10px;
}

input[type=checkbox] {
    display: none;
}

.contentmod img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
    transform: scale(1.5);
    cursor: zoom-out;
  }

.contentmod p {
    margin: 3%;
    text-align: left;
    padding-bottom: 30px;
}

.about-div {
    width: 80%;
    background-color: white;
    margin: auto;
}

.about-content {
    color: black;
    padding: 5%;
}

/* CONTACT */
form {
    margin-top: 3%;
    padding: 1em;
    background: white;
    width: 50%;
    margin-left: 25%;
}
  
.form {
  display: none;
}
  
.inside-form {
  padding: 40px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    background: #e9eff6;
    line-height: 40px;
    border-width: 0;
    background-color: rgb(224, 224, 224);
}

.form-button {
    margin-top: 30px;
    background: rgb(10, 10, 10);
    color: white;
    font-size: 20px;
    width: 100%;
}

.inside-form h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-align: center;
}
  
input {
    margin-top: 2px;
    padding: 10px;
    font-size: 14px;
}
  
button {
    border: none;
    width: 200px;
    padding: 1rem;
    color: var(--primary-colour);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
    opacity: 0.5;
}
  
button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
  
button:enabled {
    opacity: 1;
    cursor: pointer;
}
  
label {
    display: block;
    margin-top: 1rem;
    color: black;
    font-size: 20px;
}
  
.form-error {
    display: none;
    color: red;
    font-size: 14px;
}
  
.message {
    background-color: rgb(32, 122, 32);
    color: white;
    padding: 1em;
    border-radius: 0.2rem;
    display: none;
    text-align: center;
    font-size: 16px;
}

#hamburger-menu, #sidebar-menu, #hamburger-input {
    display: none;
  }

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(167, 120, 18);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 5%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }


/* MEDIA */
  @media screen and (max-width: 700px) {

    .latest-posts, .slider-container {
        height: 500px;
    }

    .contentmod {
        min-width: 100%;
        min-height: 100%;
    }

  }

  @media screen and (max-width: 1100px) {

    .latest-posts, .slider-container {
        height: 500px;
    }

    .prev, .next {
        margin-top: -20px;
    }

    .contentmod {
        width: 80%;
    }

  }

  @media screen and (max-width: 550px) {

    #hamburger-menu {
        position: relative;
        visibility: visible;
        width: 40px;
        height: 30px;
        top: -70px;
        float: right;
        right: 20px;
        display: block;
        border: none;
        background: linear-gradient(
          to bottom, 
          white, white 20%, 
          black 20%, black 40%, 
          white 40%, white 60%, 
          black 60%, black 80%, 
          white 80%, white 100%
        );
      }
    
      #hamburger-menu #sidebar-menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        margin-left: 60%;
        width: 40%;
        height: 30%;
        float: right;
        transition: 0.3s;
        background-color: rgb(10, 10, 10);
      }

      #sidebar-menu ul {
        display: block;
        text-align: center;
        margin-top: 0px;
        margin-left: -25px;
      }
  
      #sidebar-menu ul li {
        list-style: none;
        color: black;
        margin-top: 10%;
        font-size: 2.4rem;
      }
  
      #sidebar-menu img {
        top: 10%;
        margin-bottom: 10%;
      }
  
      #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        display: inline-block;
        left: 0;
        z-index: 5;
      }
  
      #hamburger-input:checked ~ .overlay{
        visibility: visible;
        opacity: 0.4;
      }

      .header-right {
        visibility: hidden;
      }

}

@media screen and (max-width: 800px) {

    form {
       width: 100%;
       margin: 0;
    }

    .about-div {
        width: 100%;
    }

  }

 