* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
    background-color: black;
  }

  .index-body {
    background-color: black;
  }
  
  nav {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    padding: 1.5rem 2rem; /* 3 */
    background: black; /* 4 */
    color: white;
    box-shadow: 0px 3px 5px -3px #ccc;
  }
  
  nav ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
    margin-top: 5px;
  }
  
  nav li {
    padding-left: 1rem; /* 7! */
  }

  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    padding-left: 20px;
  }

.bg-img-div {
    position: relative;
    height: 200px;
    width: 100%;
    background-color: black;
    
}

.bg-img {
    height: 200px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.3;
    margin-top: -50px;
}

.bg-img-div h2 {
    color: white;
    position: relative;
    text-align: center;
    font-size: 3rem;
    top: 40%;
}

main h1 {
    text-align: center;
    padding: 20px;
    color: white;
}

/*.latest-posts {
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content: center;
    position: relative;
    max-width: 80%;
    margin: auto;
}*/



/*.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: rgb(33, 33, 33);
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

.back {
    left: 0;
    border-radius: 4px 0 0 4px;
}
  

.back:hover, .forward:hover {
    background-color: rgba(197, 197, 197, 0.8);
}


.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover {
    background-color: #717161;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}
  
@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}*/



  /* SLIDER CAROUSEL */

.slider-container{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 400px;
    width: 100%;
}
.slider-width{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}

.latest-posts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.post {
    text-align: center;
    border: 3px solid black;
    background-color: #ebebeb;
    height: 400px;
    min-width: 31.8%;
    align-items: center;
    margin: 0 10px;
}

.post h2 {
    padding: 10px;
}

.img-div {
    position: relative;
    max-width: 100%;
    height: 40%;
}

.img-div img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.post p {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px;
    max-height: 130px;
    text-align: left;
}

.post p:after{
    content:'...';
}

.details-btn {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.prev, .next {
   background: rgb(10, 10, 10);
   border: none;
   outline: none;
   color: #fff;
   font-size: 20px;
   text-transform: uppercase;
   margin-top: 20px;
   padding: 6px 12px;
   cursor: pointer;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
}

.prev {
    margin-left: -110px;
}

.next {
    margin-left: 110px;
}

footer {
    left: 0;
    bottom: 0;
    margin-top: 6%;
    width: 100%;
    height: 200px;
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

footer h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

footer p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.contentmod {
    text-align: center;
    margin: auto;
    background-color: white;
    width: 50%;
}

.contentmod h2 {
    font-size: 2rem;
    padding: 10px;
}

.contentmod img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    
}

.contentmod p {
    margin: 3%;
    text-align: left;
    padding-bottom: 30px;
}

.about-div {
    width: 80%;
    background-color: white;
    margin: auto;
}

.about-content {
    color: black;
    padding: 5%;
}

/* CONTACT */
form {
    margin-top: 3%;
    padding: 1em;
    background: white;
    width: 50%;
    margin-left: 25%;
}
  
.form {
  display: none;
}
  
.inside-form {
  padding: 40px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 20px;
    background: #e9eff6;
    line-height: 40px;
    border-width: 0;
    background-color: rgb(224, 224, 224);
}

.form-button {
    margin-top: 30px;
    background: rgb(10, 10, 10);
    color: white;
    font-size: 20px;
    width: 100%;
}

.inside-form h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-align: center;
}
  
input {
    margin-top: 2px;
    padding: 10px;
    font-size: 14px;
}
  
button {
    border: none;
    width: 200px;
    padding: 1rem;
    color: var(--primary-colour);
    margin-top: 10px;
    cursor: pointer;
    border-radius: 0.2rem;
    opacity: 0.5;
}
  
button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
  
button:enabled {
    opacity: 1;
    cursor: pointer;
}
  
label {
    display: block;
    margin-top: 1rem;
    color: black;
    font-size: 20px;
}
  
.form-error {
    display: none;
    color: red;
    font-size: 14px;
}
  
.message {
    background-color: rgb(32, 122, 32);
    color: white;
    padding: 1em;
    border-radius: 0.2rem;
    display: none;
    text-align: center;
    font-size: 16px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(167, 120, 18);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 5%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }